.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ----- NAVBAR ----- */
.navbar{
  height: 63px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  /* background-color:#fff; */
  color: #333;
  border-bottom: 1px solid gray;
}
nav{
  color: #333 !important;
  /* background-color:#fff !important; */
}
.left-nav{
  /* justify-content: flex-end; */
  color: #333;
}
.right-nav{
  display: flex;
  align-items: center;
  color: #333;
}
.nav-search{
  width: 135px;
  height: 40px;
  border: 1px solid gray ;
  border-radius: 25px;
}
.right-nav>li{
  margin:auto 20px;
}